#second-part-form {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    gap: 300px;
    width: fit-content;
    padding: 100px;
}

.movie-card {
    height: 500px;
}

.movie-card img {
    height: inherit;
    width: inherit;
}