/*css used for describe tag attributes, like position, color, background containers color, padding, and responsive*/
html{
    scroll-behavior: smooth;
}

/* using * for describe generals attributes */
*{
    padding: 0; /* define space around an element's content, inside defined borders. */
    margin: 0; /* define space around elements, outside defined borders.*/
    box-sizing: border-box;
    font-family: 'poppins', sans-serif; /* define font style, it is imported */
    text-decoration: none;
    list-style: none; /* we dont use decoration of the list like dots, square, etc. */
}

:root{
    --bg-color: #222327;
    --text-color:#fff;
    --main-color: #7b00ff;
}

body{
    min-height: 100vh;
    background: linear-gradient(rgba(0,0,0,0.6),transparent), url("../image/background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.loader{
    /* those attributes define position of the element*/
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#7695ff,#be35ff); /* define a color gradient for the background */
    transition: opacity 0.75s, visibility 0.75s; /* this property allows you to change property values smoothly with a duration. */
}

/* js part define when this part need to be active */
.loader--hidden{
    opacity: 0;
    visibility: hidden;
}

.loader::after{
    content: "";
    width: 75px;
    height: 75px;
    border: 15px solid #7300e6;
    border-top-color: #7695ff;
    border-radius: 50%;
    animation: loading 0.75s ease infinite;
}

/* @keyframes controls the intermediate steps in a CSS animation sequence */
@keyframes loading {
    from{ transform: rotate(0turn) }
    to { transform: rotate(1turn) }
}

nav{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: transparent;
    padding: 28px 12%;
    transition: all .50s ease;
}

.logo{
    display: flex;
    align-items: center;
}

.logo .logo-img{
    display: flex;
    width: 2rem;
    padding: 5px 0;
    margin-left: 20px;
    margin-right: 10px;
}

.logo span{
    color: white;
    font-size: 1.7rem;
    font-weight: 600;
}

.logo span:hover{
    color: deepskyblue;
}

.navbar{
    display: flex;
}

.navbar a{
    color: white;
    font-size: 1.1rem;
    font-weight: 500;
    padding: 5px 0;
    margin: 0 30px;
    transition: all -50s ease;
}


.navbar a:hover{
    color: deepskyblue;
}

.navbar a:active{
    color: deepskyblue;
}

.window-scroll{
    background: #222327;
    box-shadow: 0 1rem 2rem rgba(0,0,0,0.2);
}


.main{
    display: flex;
    align-items: center;
}

#menu-icon{
    font-size: 35px;
    color: white;
    cursor: pointer;
    z-index: 10001;
    display: none;
}

/* @media used for describe webapp appearance with different screen width */

@media (max-width:1280px){
    nav{
        padding: 14px 2%;
        transition: .2s;
    }

    .navbar a{
        padding: 5px 0;
        margin: 0 20px;
    }
}

@media (max-width:1090px){
    #menu-icon{
        display: block;
    }

    .navbar{
        position: absolute;
        top:100%;
        right:-100%;
        width: 270px;
        height: 29vh;
        background: linear-gradient(#447eff, #7b00ff);
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        border-radius: 10px;
        transition: all .50s ease;
    }

    .navbar a{
        display: block;
        margin: 12px 0;
        padding: 0 25px;
        transition: all .50s ease;
    }

    .navbar a:hover{
        color: #461573;
        transform: translateY(5px);
    }

    .navbar a:active{
        color: blueviolet;
    }

    .navbar.open{
        right: 2%;
    }
}
@media (max-width: 800px){
    .navbar{
        width: 200px;
    }
}

/*header*/
header{
    position: relative;
    top: 5rem;
    overflow: hidden; /* this property controls what happens to content that is too big to fit into an area. */
    height: 70vh;
    margin-bottom: 5rem;
}

.text-box{
    color: white;
    position: absolute;
    bottom: 8%;
    padding: 40px;
}

.text-box p{
    color: white;

}

.text-box h1{
    font-size: 190px;
    line-height: 120px;
    margin-left: -6px;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    background: url('../image/back.png'); /* add image in the background using url("define path") */
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}


@keyframes back{
    100%{
        background-position: 1920px 0;
    }
}

/* we can use more tag for describe attributes of a specific tag like "h3" contained in another tag */
.text-box h3{
    font-size: 30px;
    font-weight: 500;
}

.text-box .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-top: 30px;
}

.text-box a{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}

/* a:hover is used for describe elements behavior when indicator pass over the tag */
.text-box a:hover{
    color: white;
    background-color: deepskyblue;
    text-decoration: none;
    padding: 10px 20px;
    margin-right: 20px;
    border: 2px solid deepskyblue;
    display: flex;
    align-items: center;
}

.text-box span{
    font-size: 30px;
    line-height: 15px;
    margin-left: 10px;
    padding-bottom: 5px;
}


@media (max-width:800px) {
    .text-box .row a {
        margin: 0.5rem;
    }
}


.text-box h1 {
    font-size: clamp(50px, 10vw, 120px);
}

.text-box h3 {
    font-size: clamp(1rem, 5vw, 4rem);
}


/*Sections*/

.how-w{
    background: linear-gradient(#447eff,blueviolet);
    box-shadow: 0 -10px 13px rgba(34, 35, 39, 0.21);
}

.how-w h2{
    color: white;
    line-height: 1;
    font-size: 3rem;
    text-align: center;
    padding-top: 2rem;
}

@media (max-width: 1090px) {
    .how-w h2{
        font-size: clamp(20px, 10vw, 60px);
    }
}

.how-w h5{
    color: white;
    font-style: italic;
    text-align: center;
    text-shadow: #222327;
    margin: 1rem 6rem 0.2rem 6rem;
    padding-bottom: 1rem;
}

.how-w p{
    color: white;
    text-align: center;
    text-shadow: #222327;
    margin: 1rem 6rem 0rem 6rem;
    padding-bottom: 2rem;

}

.left-one{
    background:  url("../image/back-info-1.png");
    background-position: center;
    box-shadow: 0 -10px 13px rgba(34, 35, 39, 0.21);
    background-size: 100%;
}

.left-two{
    background: url("../image/back-info-3.png");
    background-position: center;
    box-shadow: 0 -10px 13px rgba(34, 35, 39, 0.21);
    background-size: 100%;
}

.left-one h2, .left-two h2{
    color: white;
    line-height: 1;
    font-size: 1.7rem;
    text-align: left;
    padding-top: 2rem;
    padding-left: 4.2rem;
}

.left-one p, .left-two p{
    color: white;
    text-align: left;
    text-shadow: #222327;
    margin: 1rem 6rem 0rem 4.2rem;
    padding-bottom: 2rem;
}

.right{
    background: url("../image/back-info-2.png");
    background-position: center;
    box-shadow: 0 -10px 13px rgba(34, 35, 39, 0.21);
    background-size: 100%;
}

.right h2{
    color: white;
    line-height: 1;
    font-size: 1.7rem;
    text-align: right;
    padding-top: 2rem;
    padding-right: 4.2rem;
}

.right p{
    color: white;
    text-align: right;
    text-shadow: #222327;
    margin: 1rem 4.2rem 0rem 6rem;
    padding-bottom: 2rem;
}


/*Footer*/
.footer{
    padding-top: 5rem;
    background: #252525;
    font-size: 0.9rem;
    box-shadow: 0 -10px 13px rgba(34, 35, 39, 0.21);
}


.footer .copyright{
    color: white;
    text-align: center;
    margin-top: 4rem;
    padding: 1.2rem 0;
}

/*Form login*/

.container-f{
    background: rgba(0,0,0,0.6);
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
    border-radius: 10px;
    display: inline-block;
    margin: 80px auto;
    margin-left: 33%;
    margin-right: 20%;
}

.container-f h1{
    color: white;
    line-height: 1;
    font-size: 5rem;
    text-align: center;
    padding-top: 2rem;
}

.container-f .con-log{
    color: white;
    text-align: center;
    text-shadow: #222327;
    margin: 1rem 6rem 0.2rem 6rem;
    padding-bottom: 1rem;

}

.container-f ul{
    padding-top: 8px;
    list-style: none;
    vertical-align: middle;
    padding-bottom: 50px;
}

.container-f ul li{
    padding-top: 20px;
    text-align: center;
}

.spinner{
    background: #4267b2;
    border-radius: 5px;
    color: white;
    height: 40px;
    text-align: center;
    width: 250px;
}

@media (max-width: 1420px) {
    .container-f{
        margin-left: 30%;
        margin-right: 25%;
    }
}

@media (max-width: 900px) {
    .container-f{
        margin-left: 18%;
        margin-right: 10%;
    }
}

@media (max-width: 600px) {
    .container-f{
        margin-left: 5%;
        margin-right: 5%;
    }

    .container-f h1{
        font-size: clamp(70px, 10vw, 120px);
    }

}

@media (max-height: 815px) {
    .container-f{
        margin: auto;
        margin-left: 5%;
        margin-right: 5%;
    }
}

@media (max-width: 365px) {
    .container-f{
        margin: auto;
        margin-left: 5%;
        margin-right: 5%;
    }
    .container-f .con-log{
        margin: 1rem 2rem 0.2rem 2rem;
    }
}

/*Dashboard*/

.dashboard-b{
    min-height: 50vh;
    background: linear-gradient(rgba(0,0,0,0.6),transparent), url("../image/background_dash.png");
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.dashboard{
    color: white;
    position: absolute;
    left: 30%;
    bottom: 62%;
    padding: 40px;
}

.dashboard h1{
    font-size: clamp(50px, 10vw, 120px);
    line-height: 120px;
    margin-left: -6px;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    background: url('../image/back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.dashboard p{
    color: white;
    text-align: center;
}

@media (max-width: 1752px) {
    .dashboard{
        left: 22%;
        bottom: 60%;
    }

    .dashboard h1{
        line-height: 100px;
    }

    .dashboard p{
        text-align: center;
    }
}

@media (max-width: 900px) {
    .dashboard{
        left: 15%;
        bottom: 60%;
        padding: 20px;
    }

    .dashboard h1{
        padding-left: 14%;
    }

    .dashboard p{
        text-align: center;
        font-size: 13px;
    }
}

@media (max-width: 600px) {
    .dashboard h1{
        font-size: clamp(10px, 10vw, 120px);
        line-height: 40px;
        padding-left: 8%;
        left: 13%;
    }

    .dashboard p{
        padding-top: 15px;
    }
}

@media (max-width: 400px) {
    .dashboard{
        bottom: 57%;
        padding: 20px;
        margin-bottom: 6%;
    }

    .dashboard h1{
        font-size: clamp(10px, 10vw, 120px);
        line-height: 40px;
        padding-left: 12%;
    }
    .dashboard p{
        font-size: 13px;
        text-align: center;
        padding-bottom: 27px;
    }

}


/*Favourite Actor form*/

.pref-actors{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    align-items: center;
    justify-content: center;
    background: linear-gradient(#222c4b, #411255);
}

.pref-actors--hidden{
    visibility: hidden;
}

.pref-actors h1{
    color: white;
    font-size: clamp(7px, 6vw, 45px);
    padding-top:10%;
    text-align: center;
}

.actors{
    display: flex;
    flex-wrap: wrap;
    margin-left: 20px;
    margin-right: 20px;
}

.actors .i-act{
    position: relative;
    width: 200px;
    height: 200px;
    margin: 50px;
    transition: 0.3s;
}

.actors .i-act h3{
    color: white;
    font-size: clamp(11px, 2vw, 20px);
    text-align: center;
}

.actors .i-act img{
    position: absolute;
    margin-top: 30px;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
    box-shadow: 5px 10px 8px rgba(0, 0, 0, 0.24);
}


.actors .i-act:hover{
    position: relative;
    /*width: 210px;
    height: 210px;*/
    margin: 50px;
    transform: scale(1.1);
    z-index: 2;
}

@media (max-width: 1250px){
    .actors .i-act:hover{
        transform: scale(0.9);
        z-index: 0.2;
    }

    .actors .i-act{
        position: relative;
        width: 150px;
        height: 150px;
        margin: 30px;
    }

    .actors .i-act img{
        margin-top: 60px;
    }

}

@media (max-width: 910px){

    .actors{
        margin-left: 15px;
        margin-right: 5px;
    }

    .actors .i-act{
        position: relative;
        width: 160px;
        height: 160px;
        margin: 30px;
    }

    .actors .i-act img{
        margin-top: 20px;
    }
}


@media (max-width: 774px) {
    .actors .i-act{
        position: relative;
        width: 143px;
        height: 143px;
        margin: 30px;
    }

    .actors .i-act img{
        margin-top: 20%;
    }
}


/*Questionary form*/

.quest-h{
    position: relative;
    top: 7rem;
    overflow: hidden;
    height: 23vh;
    margin-bottom: 2rem;
}

.quest-h h1{
    text-align: center;
    font-size: clamp(50px, 10vw, 120px);
    line-height: 120px;
    margin-top: 13px;
    color: transparent;
    -webkit-text-stroke: 0.5px #fff;
    background: url('../image/back.png');
    -webkit-background-clip: text;
    background-position: 0 0;
    animation: back 20s linear infinite;
}

.quest-h p{
    text-align: center;
    color: white;
}

.quest-form{
    background: rgba(0,0,0,0.6);
    box-shadow: 20px 30px 25px rgba(0,0,0,0.15);
    border-radius: 10px;
    display: inline-block;
    margin: 80px auto;
    margin-left: 33%;
    margin-right: 20%;
}

.quest-form #content-1{
    padding: 2em 4em 2em 4em;
    flex-wrap: wrap;
    justify-content: center;
}

.quest-form #content-1 .quest{
    color: white;
    font-size: 1.5em;
    text-align: center;
}

input[type="radio"i]{
    margin-right: 6px;
}

input[type="checkbox"i]{
    margin-right: 6px;
}

.quest-form #content-1 .choice{
    color: black;
}

.text-quest{
    color: white;
}


.quest-form #content-1 .sub-btm{
    color: black;
}

@media (max-width: 1420px) {
    .quest-form{
        margin-left: 25%;
        margin-right: 25%;
    }
}

@media (max-width: 900px) {
    .quest-form{
        margin-left: 14%;
        margin-right: 12%;
    }
}

@media (max-width: 600px) {
    .quest-form{
        margin-left: 1%;
        margin-right: 1%;
    }
    .quest-h h1{
        font-size: clamp(30px, 10vw, 120px);
    }

}

@media (max-width: 380px) {
    .quest-form{
        margin-left: 1%;
        margin-right: 1%;
    }
}

#content-1 .sub-btm{
    color: white;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px auto;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
}

.sub-btm {
    color: black;
    text-decoration: none;
    padding: 10px 20px;
    margin: 0.5rem;
    border: 2px solid #fff;
    display: flex;
    align-items: center;
    flex-direction: column;
}

#content-1 .sub-btm:hover{
    color: white;
    background-color: deepskyblue;
    text-decoration: none;
    padding: 10px 20px;
    margin: 20px auto;
    border: 2px solid deepskyblue;
    display: flex;
    align-items: center;
}

.sub-btm:hover {
    color: white;
    background-color: deepskyblue;
    border: 2px solid deepskyblue;
}

.loader-secondary {
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    width: 40px;
    height: 40px;
    animation: spin 2s linear infinite;
}

.loader-dashboard {
    margin-top: 1rem;
    display: none;
    border: 3px solid #000000;
    border-radius: 50%;
    border-top: 3px solid #3498db;
    width: 20px;
    height: 20px;
    animation: spin 2s linear infinite;
}

@keyframes spin {
    0% {
        transform: rotate(0deg); /* this property lets you rotate, scale, skew, or translate an element. */
    }

    100% {
        transform: rotate(360deg);
    }
}

#do-form button{
    width: 300px;
}

#do-form {
    display: flex;
    justify-content: center;
}